<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Weather</title>
    <link rel="stylesheet" href="main.css" />
  </head>

  <body>
    <div id = "main_container">
      <h1 align = "center">Current Weather in <%=@current_place%></h1>
      <div id = "inner_container">
        <table border= "0" style="background-color:transparent" width="80%" cellpadding="5" cellspacing="5">
          <tr>
            <td>City:</td>
            <td><%=@city%></td>
          </tr>
          <tr>
            <td>State:</td>
            <td><%=@state%></td>
          </tr>
          <tr>
            <td>Overview:</td>
            <td><%=@overview%></td>
          </tr>
          <tr>
            <td>Temperature:</td>
            <td><%=@temperature%></td>
          </tr>
          <tr>
            <td>Humidity:</td>
            <td><%=@humidity%></td>
          </tr>
          <tr>
            <td>Wind:</td>
            <td><%=@wind%></td>
          </tr>
          <tr>
            <td>Last refreshed at:</td>
            <td><%=@last_refresh%></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
